body,html {
    background-image: url('https://i.imgur.com/xhiRfL6.jpg');
    height: 100%;
    overflow-x: hidden;
}

#profile-img {
    height:180px;
}
.h-80 {
    height: 80% !important;
}
.banner {
    padding: 0;
    background-color: #52575c;
    color: white;
  }
  
  .banner-text {
    padding: 8px 20px;
    margin: 0;
  }
  
  
  #join-form {
    margin-top: 10px;
  }
  
  .tips {
    font-size: 12px;
    margin-bottom: 2px;
    color: gray;
  }
  
  .join-info-text {
    margin-bottom: 2px;
  }
  
  input {
    width: 100%;
    margin-bottom: 2px;
  }
  
  .player {
    align-self: center;
    width: 1000px;
    height: 1000px;
  }
  
  .player-name {
    margin: 8px 0;
  }
  
  #success-alert {
    display: none;
  }
  
  @media (max-width: 640px) {
    .player {
      width: 320px;
      height: 240px;
    }
  }
  .head{
      text-emphasis-color: white;
      color: white;
      align-self: center;
      text-align: center;
  }
  